<div class="row">
  <div class="col-md-9">
    <%= form_with(model: pet, local: true) do |form| %>
      <fieldset>
        <% if pet.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

            <ul>
              <% pet.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :birth %>
          <%= form.date_select :birth, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :breed %>
          <%= form.text_field :breed, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :kind_id %>
          <%= collection_select(:pet, :kind_id, @kinds_options_select, :id, :description, {}, { class: "form-control"})%>
        </div>

        <div class="form-group">
          <%= form.label :owner_id %>
          <%= collection_select(:pet, :owner_id, @owners_options_select, :id, :name, {}, { class: "form-control"})%>
        </div>

        <div class="form-group">
          <%= form.submit "Salvar", class: "btn btn-success" %>
          <%= link_to 'Voltar', pets_path, class: "btn btn-info" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
