<p id="notice"><%= notice %></p>

<p>
  <strong>Symptoms:</strong>
  <%= @chart.symptoms %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @chart.treatment %>
</p>

<p>
  <strong>Date attendance:</strong>
  <%= @chart.date_attendance %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @chart.pet_id %>
</p>

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>
